@use "./variables";

@mixin widthHeight($width, $height){
    width: $width;
    height: $height;
}
@mixin flex($flex, $justify, $align, $wrap, $direction){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
}
@mixin dimensionPosition($width, $height, $position, $top, $bottom, $right, $left){
    width: $width;
    height: $height;
    position: $position;
    top: $top;
    bottom: $bottom;
    right: $right;
    left: $left;
}
@mixin fz_lh($fz, $lh){
    font-size: $fz;
    line-height: $lh;
}
@mixin fz_w_txta($fz, $width, $text-align){
    font-size: $fz;
    width: $width;
    text-align: $text-align;
}
@mixin footer{
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    justify-content: flex-start;
}

@mixin bouton{
    display: block;
    padding: 17px;
    border-radius: 3rem;
    border: none;
    background: variables.$color-gradient;
    color: variables.$color-white;
    font-size: 1.6vh;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 3px 12px -2px variables.$color-secondary;
    &:hover{
        opacity: 0.9;
        box-shadow: 0px 5px 14px -2px variables.$color-secondary-dark;
        transform: scale(1.02);
    }
}

@mixin heart{
    .icon {
        fill: transparent;
        stroke: variables.$color-black;
        stroke-width: 40;
        cursor: pointer;
        position: relative;
        display: inline-block;
        svg {
          overflow: visible;
        }
      
        path {
          stroke-dashoffset: 0; // le coeur est entier
          stroke-dasharray: 1550; // dash max qui va servir pour l'animation
          transform-origin: center;// le coeur va pulser sans se décaler
        }
      
        .heart-main:hover path {
          animation: stroke-animation 0.7s linear forwards;
        }
      
    }
}

