@use "../abstracts";

footer{
    @include abstracts.flex(flex, flex-start, flex-start, nowrap, column);
    @include abstracts.widthHeight(100%, auto);
    padding: 8% 8% 12% 8%;
    font-size: 2vmax;
    background-color: abstracts.$color-grey;
    color: abstracts.$color-white;
        @media (min-width: 768px){
            @include abstracts.flex(inherit, center, center, nowrap, column);
            padding: 4% 0;
        }
        @media (min-width: 992px){
            @include abstracts.flex(flex, start, center, nowrap, row);
            font-size: 1.3vmax;
            padding: 4% 0;
        }
    nav{
        width: 100%;
    }
    ul{
        list-style-type: none;
            @media (min-width: 768px){
                text-align: center;
            }
            @media (min-width: 992px){
                width: 100%;
                @include abstracts.flex(flex, space-evenly, center, nowrap, row);
            }
    }
     li{
        line-height: 27px;
    }
     img{
        height: 2vmax;
        margin-bottom: 5vmin;
        @media (min-width: 768px){
            margin-bottom: 2%;
            
        }
        @media (min-width: 992px){
            margin-bottom: 0;
            margin-left: 5%;
        }
    }
    .fa-utensils{
        margin-right: 10px;
        font-size: 18px;
    }
    .fa-hands-helping{
        margin-right: 10px;
        font-size: 12px;
    }
    & a{
        text-decoration: none; 
        color: abstracts.$color-white;  
    }

  }