@use "../abstracts";

.header_restaurant{
    width: 100%;
    padding-bottom: 0;
}
.headermenu{
    display: flex;
    justify-content: left;
    @include abstracts.widthHeight(100%, 70px);
    position: relative;
    background-color: abstracts.$color-white;
    @media (min-width: 992px){
      @include abstracts.widthHeight(100%, 15vmax);
      
    }
    &::before{
      content: "";
      @include abstracts.dimensionPosition(100%, 25vmax, absolute, 70px, 0, 0, 0);
      background-size: cover;
      background-position: center;
      z-index: -1;
      opacity: 1; 
      @media (min-width: 992px){
          opacity: 0.7;
          @include abstracts.dimensionPosition(100%, 15vmax, absolute, 0, 0, 0, 0);
          z-index: 1;
      }
    }
  
    &__title{
      @include abstracts.fz_w_txta(30px, 100%, center);
        margin-left: -36px;   
        margin-top: 10px;
        line-height: 50px;
        font-family: abstracts.$titre;
        @media (min-width: 992px){
          z-index: 2;
          font-size: 5vmin;
        }
    }
    & .fa-arrow-left{
        font-size: 30px; 
        line-height: 70px;
        margin-left: 10px;
        z-index: 2;
    }
    & a{
        cursor: pointer;
        z-index: 2;
        color: abstracts.$color-black;
        @media (min-width: 992px){
          z-index: 3;
        }
    }
  } 
  
  .header__palette{
    &::before{
        background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
      }
  }
  .header__note{
    &::before{
        background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
      }
  }
  .header__francaise{
    &::before{
        background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
      }
  }
  .header__delice{
    &::before{
        background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
      }
  }

  .restaurant-menu{ 
    @include abstracts.widthHeight(100%, 10vmax);
    @include abstracts.flex(flex, center, center, nowrap, row);
    border-radius: 3rem 3rem 0 0;
    margin-top: 20vmax;
    background-color: abstracts.$color-background;
    z-index: 5;
    @media (min-width: 768px){
        width: 100%;
    }
    @media (min-width: 992px){
      margin-top: 0;
    }
    & h1{
      @include abstracts.widthHeight(80%, auto);
      font-size: 2.8vmax;
      font-family: abstracts.$titre;
    }
    @include abstracts.heart;
    .icon{
      bottom: 0px;
      left: 0;
    }
      
  }

