@use "../abstracts";

header.header__homepage{
  height: auto;
  background-color: abstracts.$color-background;
  padding-bottom: 6vmax;
  @include abstracts.flex(flex, center, center, wrap, column); 
    @media (min-width: 992px){
        padding-bottom: 30px;
    }
  .header__title--accueil{
    @include abstracts.fz_w_txta(10vmin, 100%, center);
    font-family: abstracts.$titre;
    color: abstracts.$color-black;
    background-color: abstracts.$color-white;
    // line-height: auto;
    animation: slide_in_top 1s 3s ease-out both; 
  }
  .local{
    @include abstracts.flex(flex, center, center, nowrap, row); 
    @include abstracts.widthHeight(100%, 70px);
    background: linear-gradient(0deg, rgba(234,234,234,1) 88%, rgba(207,207,207,1) 100%);  
  }
  span img{
    @include abstracts.widthHeight(2rem, 2rem);
    margin-right: 4rem;  
  }
  .local p{
      position: relative;
      line-height: 60px;    
  }
  & h2{ 
    @include abstracts.fz_w_txta(2.6rem, 70%, center);
    padding-top: 40px;
    padding-bottom: 20px;
  }
  & h3{
    @include abstracts.fz_w_txta(1.7rem, 88%, center);
    font-weight: normal;
    padding-bottom: 30px;
  }
  // & .header__button{
  //   @include abstracts.bouton;
  //   width: 220px;

  // }
  
}
