@use "../abstracts";


@keyframes slide-in-top {
    0% {
      
    transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      
    transform: translateY(0);
    opacity: 1;
    }
}

.header__button{
  @include abstracts.bouton;
  width: 250px;

}
.header-button{
text-decoration: none;
@media (min-width: 992px){
    padding-bottom: 5vmin;
}
}

header.header__homepage{
  height: auto;
  background-color: abstracts.$color-background;
  padding-bottom: 6vmax;
  @include abstracts.flex(flex, center, center, wrap, column); 
  .header__title--accueil{
    width: 100%;
    font-family: abstracts.$titre;
    text-align: center;
    color: abstracts.$color-black;
    background-color: abstracts.$color-white;
    line-height: auto;
    animation: slide-in-top 0.8s 2s ease-out both; 
    font-size: 10vmin;
    
  }
  .local{
    @include abstracts.flex(flex, center, center, 0, 0); 
    @include abstracts.widthHeight(100%, 70px);
    background: linear-gradient(0deg, rgba(234,234,234,1) 88%, rgba(207,207,207,1) 100%);  
  }
  span img{
    @include abstracts.widthHeight(2rem, 2rem);
    margin-right: 4rem;  
  }
  .local p{
      position: relative;
      line-height: 60px;    
  }
  & h2{ 
    font-size: 2.6rem;
    width: 70%;
    text-align: center;
    padding-top: 20px;
  }
  & h3{
    width: 88%;
    text-align: center;
    font-weight: normal;
    font-size: 1.7rem;
  }
}