@use "../abstracts";

.principal{
    @include abstracts.widthHeight(100%, auto);
    @include abstracts.flex(flex, inherit, center, inherit, column);
    padding-bottom: 50px;
    background-color: abstracts.$color-background;
    @media (min-width: 768px) and (max-width: 992px){
        @include abstracts.widthHeight(100%, auto);
        @include abstracts.flex(flex, space-evenly, center, wrap, column);
        margin-left: 0;   
    }
    .restaurant__section{
        width: 92%;
        margin-bottom: 40px;
        @media (min-width: 768px){
            @include abstracts.flex(flex, space-evenly, center, wrap, row);
        }
    }
    .restaurant__section > h4{
        position: relative;
        width: 96%;
        margin-left: 2%;
        margin-bottom: 25px;
        font-weight: normal;
        @media (min-width: 768px){
            margin-bottom: 10px;
        }
            &::before{
            content: "";
            display: block;
            @include abstracts.widthHeight(40px, 50px);
            background-color: transparent;
            border-bottom: 4px solid abstracts.$color-tertiary;
            position: absolute;
            bottom: -08px;
                @media (min-width: 992px){
                    margin-left: 0;
                }
        }
    }
}
article{
    @include abstracts.widthHeight(100%, auto);
    @include abstracts.flex(flex, space-between, center, nowrap, row);
    border-radius: 1rem;
    margin-bottom: 5px;
    margin-top: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 10px 2px abstracts.$color-background2;
    @media (min-width: 768px){
        width: 45%;
    }
    @media (min-width: 992px){
        width: 30%;
    }
    &:hover .plats, &:hover .entrees, &:hover .desserts{
        border-radius: 1rem 0 0 1rem;
    }
    &:hover .check{
        margin-right: 0;
    }
    &:hover .fa-check-circle{
        transform: rotate(360deg);
    }
    & .entrees{
        animation: decalage_plats 2s 100ms linear both;
    }
    & .plats{
        animation: decalage_plats 2s 500ms linear both;
    }
    & .desserts{
        animation: decalage_plats 2s 1s linear both;
    }

    & .plats, & .entrees, & .desserts{
        @include abstracts.widthHeight(100%, 67px);
        @include abstracts.flex(flex, space-evenly, flex-start, nowrap, column);
        border-radius: 1rem;
        background-color: abstracts.$color-white;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 10px;
        h5{
            width: 100%;
            font-weight: bold;
            font-size: 0.9em;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        & .plat{
            @include abstracts.flex(flex, space-between, center, nowrap, row);
            width: 100%;
            & > p{
                font-size: 0.8em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & span{
                padding: 0 1em 0 1em;
                font-weight: 900;
                font-size: 0.9em;
                
            }
        }
    }
}
.check{
    @include abstracts.flex(flex, center, center, nowrap, column);
    background-color: abstracts.$color-tertiary;
    color: white;
    @include abstracts.widthHeight(80px, 67px);
    border-radius: 0 1rem 1rem 0;
    margin-right: -80px;
    transition: margin 0.5s ease-in-out;
    cursor: pointer;
    .fa-check-circle {
        transform: rotate(0deg);
        transition: transform 0.5s ease-in;
    }
}
        
  
.header__button{
        @include abstracts.bouton;
        width: 200px;
        text-align: center;
        margin: auto;     
    }
  

  

