@use "../abstracts";
   
.restaurant__choice{
    @include abstracts.widthHeight(100%, auto);
    @include abstracts.flex(flex, flex-start, center, wrap, column);
        @media (min-width: 768px){
            @include abstracts.flex(flex, center, center, wrap, row);
            gap: 2vmax;
        }
        @media (min-width: 992px){
            @include abstracts.flex(flex, center, center, wrap, row);
            gap: 2vmax;
            @include abstracts.widthHeight(65%, auto);
        } 
    & a{
        @include abstracts.widthHeight(93%, 63vmin);
        text-decoration: none;
        color: abstracts.$color-black;
        display: block;
        flex-direction: column;
        margin-bottom: 20px;
        &:hover{
            box-shadow: -1px 2px 08px 4px abstracts.$color-secondary;
            border-radius: 2rem;
            transform: scale(1.01);
            }
            @media (min-width: 768px){
                @include abstracts.widthHeight(45%, 30vmin); 
            }
            @media (min-width: 992px){
                @include abstracts.widthHeight(45%, 20vmax);
            }
            
        & img{
                object-fit: cover;
                @include abstracts.widthHeight(100%, 100%);
              
            @media (min-width: 768px) and (max-width: 992px){
                @include abstracts.widthHeight(100%, 100%); 
            }   
        }
    } 
    & > h3{
        align-items: flex-start;
        width: 95%;
        margin-bottom: 20px;
        @media (min-width: 768px){
            width: 92%;
        }
        @media (min-width: 992px){
            text-align: center;
            margin-bottom: 0;
            font-size: 2.5vmax;
        }
    }
}

.restaurant-card{
    @include abstracts.widthHeight(100%, 100%);
    border-radius: 2rem;
    box-shadow: -1px 2px 12px 8px #e5e5e5e5;
    position: relative;
    @media (min-width: 768px) and (max-width: 992px){
        @include abstracts.widthHeight(100%, 35vmin);
    }
}

.restaurant-card__text{
    @include abstracts.widthHeight(100%, 30%);
    background: white;
    position: relative;
    bottom:31%;
    border-radius: 0 0 2rem 2rem;
    padding-top: 1vmax;  
    padding-bottom: 1vmax;
        @media (min-width: 768px){
            @include abstracts.widthHeight(100%, 24%);
            bottom: 25%;    
        }
        @media (min-width: 992px){
            @include abstracts.widthHeight(100%, 4.5vmax);
            bottom: 4.5vmax;
        }
    & h3, & p{
      @include abstracts.fz_lh(3.5vmin, 6vmin);
      
      padding-left: 2vmin;
      
      @media (min-width: 768px){
        @include abstracts.fz_lh(2vmin, 2.5vmin);
      }
      @media (min-width: 992px){
        @include abstracts.widthHeight(100%, 70%);
        @include abstracts.fz_lh(1.4vmax, 70%);
        padding-left: 2vmin;
    }
    }
    .restaurant-card__heart{
        @include abstracts.heartMenu;
        left: 85%;
        bottom: 50%;
        &--border, &--solid{
            bottom: 60%;
            @media (min-width: 768px){
                bottom: 50%;
            }
            @media (min-width: 992px){
                bottom: 90%
            }
        }

    }
    
}
   
section a.palette, section a.note{
    position: relative;
    &::after{
      content: "Nouveau";
      font-size: 4vmin;
      @include abstracts.widthHeight(25%, 12%);
      background-color:abstracts.$color-tertiary;
      border-radius: 3px;
      position: absolute;
      line-height: 7vmin;
      text-align: center;
      color: abstracts.$color-tertiary-dark;
      bottom: 82%;
      z-index: 2;
      right: 4%;
      @media (min-width: 768px){
        @include abstracts.fz_lh(1.8vmin, 3.6vmin);
      }
      @media (min-width: 992px){
        @include abstracts.fz_lh(1.3vmax, 2.5vmax);
      }
    } 
}
