@use "../abstracts";

footer{
    @include abstracts.flex(flex, start, flex-start, nowrap, column);
    height: auto;
    font-size: 2vmax;
    padding: 2rem;
    line-height: 4min; 
    background-color: abstracts.$color-grey;
    color: abstracts.$color-white;
    width: 100%;
        @media (min-width: 768px) and (max-width: 992px){
            @include abstracts.flex(0, center, center, nowrap, column);
        }
        @media (min-width: 992px){
            @include abstracts.flex(0, center, center, nowrap, row);
        }
    & h2{
        font-family: abstracts.$titre;
        font-size: 4rem;
        width: 20%;
        text-align: left;
    }
    & a{
        text-decoration: none;   
    }
    .footer__ustensile{
        @include abstracts.footer;
            height: 3vmax;
            line-height: 3vmax;
            @media (min-width: 768px) and (max-width: 992px){
                justify-content: center;
            }
            @media (min-width: 992px){
                justify-content: flex-start;
                width: 23%;
                height: 4vmin;
            }
        & p{
            margin-left: 2rem;
            color: abstracts.$color-white;
            line-height: 4vmin;
        }
        & i{
            line-height: 4vmin;
        }
    }
    .footer__partenaire{
        @include abstracts.footer;
        height: 3vmax;
        line-height: 3vmax;
            @media (min-width: 768px) and (max-width: 992px){
                justify-content: center;
            }
            @media (min-width: 992px){
                justify-content: flex-start;
                width: 20%;
                height: 4vmin;
            }
            
        & p{
            margin-left: 2rem;
            color: abstracts.$color-white;
            line-height: 4vmin;
        }
        & i{
            line-height: 4vmin;
            font-size: 3vmin;
        }
    }
    .footer__mention{
        @include abstracts.footer;
        height: 3vmax;
        line-height: 3vmax;
        color: white;
        @media (min-width: 768px) and (max-width: 992px){
            justify-content: center;
        }
        @media (min-width: 992px){
            justify-content: flex-start;
            line-height: 4vmin;
            width: 16%;
            height: 4vmin;
        }
    }
   .footer__mail {
        color: abstracts.$color-white;
        height: 3vmax;
        line-height: 3vmax;
        
        @media (min-width: 992px){
            text-align: left;
            line-height: 4vmin;
            width: 20%;
            height: 4vmin;
        }
    } 

  }