@use "../abstracts";
   
section{
    @include abstracts.widthHeight(100%, auto);
   @include abstracts.flex(flex, space-between, center, wrap, column);
    padding: 20px;
    & a{
        @include abstracts.widthHeight(100%, 55vmin);
        text-decoration: none;
        color: abstracts.$color-black;
        display: block;
        flex-direction: column;
        margin-bottom: 20px;
    } 
    & > h3{
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
    }
}

.restaurant-card{
    @include abstracts.widthHeight(100%, 100%);
    border-radius: 1rem;
    box-shadow: -1px 2px 12px 8px #e5e5e5bf;
    position: relative;
    &:hover{
    box-shadow: -1px 2px 08px 4px abstracts.$color-secondary;
    transform: scale(1.01);
    }
}

.restaurant-card__text{
    @include abstracts.widthHeight(100%, 30%);
    background: white;
    position: relative;
    bottom:31%;
    border-radius: 0 0 1rem 1rem;
    padding-top: 1vmax;  
    padding-bottom: 1vmax;
    & h3, & p{
      font-size: 3.5vmin;
      padding-left: 2vmin;
      line-height: 2rem;
      
    }
    .restaurant-card__heart{
      @include abstracts.heartMenu;
      margin-right: 30px;
    }
    
}
   
section a.palette, section a.note{
    position: relative;
    &::after{
      content: "Nouveau";
      font-size: 1.5vmax;
      @include abstracts.widthHeight(25%, 12%);
      background-color:abstracts.$color-tertiary;
      position: absolute;
      line-height: 2.5vmax;
      text-align: center;
      color: abstracts.$color-tertiary-dark;
      bottom: 82%;
      z-index: 2;
      right: 4%;
    } 
}
.note{
  object-fit: cover;
  object-position: 0 -143px;
}
