@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header.header__homepage {
  height: auto;
  background-color: #f6f6f6;
  padding-bottom: 6vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 992px) {
  header.header__homepage {
    padding-bottom: 30px;
  }
}
header.header__homepage .header__title--accueil {
  font-size: 10vmin;
  width: 100%;
  text-align: center;
  font-family: "Shrikhand", cursive;
  color: #000;
  background-color: #fff;
  animation: slide_in_top 1s 3s ease-out both;
}
header.header__homepage .local {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background: linear-gradient(0deg, #eaeaea 88%, #cfcfcf 100%);
}
header.header__homepage span img {
  width: 2rem;
  height: 2rem;
  margin-right: 4rem;
}
header.header__homepage .local p {
  position: relative;
  line-height: 60px;
}
header.header__homepage h2 {
  font-size: 2.6rem;
  width: 70%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}
header.header__homepage h3 {
  font-size: 1.7rem;
  width: 88%;
  text-align: center;
  font-weight: normal;
  padding-bottom: 30px;
}

.header_restaurant {
  width: 100%;
  padding-bottom: 0;
}

.headermenu {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 70px;
  position: relative;
  background-color: #fff;
}
@media (min-width: 992px) {
  .headermenu {
    width: 100%;
    height: 15vmax;
  }
}
.headermenu::before {
  content: "";
  width: 100%;
  height: 25vmax;
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 1;
}
@media (min-width: 992px) {
  .headermenu::before {
    opacity: 0.7;
    width: 100%;
    height: 15vmax;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
}
.headermenu__title {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-left: -36px;
  margin-top: 10px;
  line-height: 50px;
  font-family: "Shrikhand", cursive;
}
@media (min-width: 992px) {
  .headermenu__title {
    z-index: 2;
    font-size: 5vmin;
  }
}
.headermenu .fa-arrow-left {
  font-size: 30px;
  line-height: 70px;
  margin-left: 10px;
  z-index: 2;
}
.headermenu a {
  cursor: pointer;
  z-index: 2;
  color: #000;
}
@media (min-width: 992px) {
  .headermenu a {
    z-index: 3;
  }
}

.header__palette::before {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.header__note::before {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.header__francaise::before {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.header__delice::before {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.restaurant-menu {
  width: 100%;
  height: 10vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 3rem 3rem 0 0;
  margin-top: 20vmax;
  background-color: #f6f6f6;
  z-index: 5;
}
@media (min-width: 768px) {
  .restaurant-menu {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .restaurant-menu {
    margin-top: 0;
  }
}
.restaurant-menu h1 {
  width: 80%;
  height: auto;
  font-size: 2.8vmax;
  font-family: "Shrikhand", cursive;
}
.restaurant-menu .icon {
  fill: transparent;
  stroke: black;
  stroke-width: 40;
  cursor: pointer;
  position: relative;
  display: inline-block;
  bottom: 50px;
  left: 400px;
  z-index: 10;
}
.restaurant-menu .icon svg {
  overflow: visible;
  width: 32px;
}
.restaurant-menu .icon svg .gradient1 {
  fill: url("#grad1");
}
.restaurant-menu .icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.restaurant-menu .icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.restaurant-menu .icon .heart-main:hover path {
  animation: stroke-animation 0.7s linear forwards;
}
.restaurant-menu .icon {
  bottom: 0px;
  left: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  z-index: 0;
}

main {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex: 1;
}
@media (min-width: 992px) {
  main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 2%;
  }
}

aside {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: #fff;
}
@media (min-width: 768px) {
  aside {
    width: 60%;
    height: auto;
  }
}
@media (min-width: 992px) {
  aside {
    width: 30%;
    height: auto;
  }
}
aside h2 {
  font-size: 2.3rem;
  width: 85%;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}
aside .aside__choice {
  margin-left: 10px;
}
aside .aside__choice::before {
  content: "1";
}
aside .aside__compose::before {
  content: "2";
}
aside .aside__taste::before {
  content: "3";
}
aside a {
  text-decoration: none;
  color: #000;
  width: 87%;
  font-size: 1.6rem;
}

.aside__box {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 2.5rem;
  border-radius: 3rem;
  box-shadow: 0px 9px 12px -2px #eaeaea;
  margin-bottom: 2rem;
  position: relative;
}
@media (min-width: 768px) {
  .aside__box {
    padding: 3.5rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 992px) {
  .aside__box {
    margin-bottom: 3vmax;
  }
}
.aside__box:hover {
  background-color: #f5edff;
  color: #9356dc;
}
.aside__box::before {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 32%;
  bottom: 26px;
  right: 0;
  left: -10px;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  line-height: 3rem;
}
.aside__box p {
  color: #000;
  font-weight: bold;
}
.aside__box .aside__icons {
  font-size: 20px;
  line-height: 24px;
  margin-right: 20px;
}

.restaurant__choice {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .restaurant__choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vmax;
  }
}
@media (min-width: 992px) {
  .restaurant__choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vmax;
    width: 65%;
    height: auto;
  }
}
.restaurant__choice a {
  width: 93%;
  height: 63vmin;
  text-decoration: none;
  color: #000;
  display: block;
  flex-direction: column;
  margin-bottom: 20px;
}
.restaurant__choice a:hover {
  box-shadow: -1px 2px 8px 4px #9356dc;
  border-radius: 2rem;
  transform: scale(1.01);
}
@media (min-width: 768px) {
  .restaurant__choice a {
    width: 45%;
    height: 30vmin;
  }
}
@media (min-width: 992px) {
  .restaurant__choice a {
    width: 45%;
    height: 20vmax;
  }
}
.restaurant__choice a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant__choice a img {
    width: 100%;
    height: 100%;
  }
}
.restaurant__choice > h3 {
  align-items: flex-start;
  width: 92%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .restaurant__choice > h3 {
    width: 92%;
  }
}
@media (min-width: 992px) {
  .restaurant__choice > h3 {
    text-align: center;
    margin-bottom: 0;
    font-size: 2.5vmax;
  }
}

.restaurant-card {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: -1px 2px 12px 8px #e5e5e5e5;
  position: relative;
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant-card {
    width: 100%;
    height: 35vmin;
  }
}

.restaurant-card__text {
  width: 100%;
  height: 30%;
  background: white;
  position: relative;
  bottom: 31%;
  border-radius: 0 0 2rem 2rem;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
}
@media (min-width: 768px) {
  .restaurant-card__text {
    width: 100%;
    height: 24%;
    bottom: 25%;
  }
}
@media (min-width: 992px) {
  .restaurant-card__text {
    width: 100%;
    height: 4.5vmax;
    bottom: 4.5vmax;
  }
}
.restaurant-card__text h3, .restaurant-card__text p {
  font-size: 3.5vmin;
  line-height: 6vmin;
  padding-left: 2vmin;
}
@media (min-width: 768px) {
  .restaurant-card__text h3, .restaurant-card__text p {
    font-size: 2vmin;
    line-height: 2.5vmin;
  }
}
@media (min-width: 992px) {
  .restaurant-card__text h3, .restaurant-card__text p {
    width: 100%;
    height: 70%;
    font-size: 1.4vmax;
    line-height: 70%;
    padding-left: 2vmin;
  }
}
.restaurant-card__text .icon {
  fill: transparent;
  stroke: black;
  stroke-width: 40;
  cursor: pointer;
  position: relative;
  display: inline-block;
  bottom: 50px;
  left: 400px;
  z-index: 10;
}
.restaurant-card__text .icon svg {
  overflow: visible;
  width: 32px;
}
.restaurant-card__text .icon svg .gradient1 {
  fill: url("#grad1");
}
.restaurant-card__text .icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.restaurant-card__text .icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.restaurant-card__text .icon .heart-main:hover path {
  animation: stroke-animation 0.7s linear forwards;
}
.restaurant-card__text .icon {
  left: 85%;
  bottom: 9vmin;
}
@media (min-width: 768px) {
  .restaurant-card__text .icon {
    bottom: 4vmax;
  }
}
@media (min-width: 992px) {
  .restaurant-card__text .icon {
    bottom: 3.5vmax;
  }
}
.restaurant-card__text .icon svg {
  width: 7vmin;
}
@media (min-width: 768px) {
  .restaurant-card__text .icon svg {
    width: 3.5vmax;
  }
}
@media (min-width: 992px) {
  .restaurant-card__text .icon svg {
    width: 2.3vmax;
  }
}

section a.palette, section a.note {
  position: relative;
}
section a.palette::after, section a.note::after {
  content: "Nouveau";
  font-size: 4vmin;
  width: 25%;
  height: 12%;
  background-color: #99e2d0;
  border-radius: 3px;
  position: absolute;
  line-height: 7vmin;
  text-align: center;
  color: #008766;
  bottom: 82%;
  z-index: 2;
  right: 4%;
}
@media (min-width: 768px) {
  section a.palette::after, section a.note::after {
    font-size: 1.8vmin;
    line-height: 3.6vmin;
  }
}
@media (min-width: 992px) {
  section a.palette::after, section a.note::after {
    font-size: 1.3vmax;
    line-height: 2.5vmax;
  }
}

.principal {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: inherit;
  align-items: center;
  flex-wrap: inherit;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
@media (min-width: 768px) and (max-width: 992px) {
  .principal {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0;
  }
}
.principal .restaurant__section {
  width: 92%;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .principal .restaurant__section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.principal .restaurant__section > h4 {
  position: relative;
  width: 96%;
  margin-left: 2%;
  margin-bottom: 25px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .principal .restaurant__section > h4 {
    margin-bottom: 10px;
  }
}
.principal .restaurant__section > h4::before {
  content: "";
  display: block;
  width: 40px;
  height: 50px;
  background-color: transparent;
  border-bottom: 4px solid #99e2d0;
  position: absolute;
  bottom: -8px;
}
@media (min-width: 992px) {
  .principal .restaurant__section > h4::before {
    margin-left: 0;
  }
}

article {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 1rem;
  margin-bottom: 5px;
  margin-top: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 2px #eaeaea;
}
@media (min-width: 768px) {
  article {
    width: 45%;
  }
}
@media (min-width: 992px) {
  article {
    width: 30%;
  }
}
article:hover .plats, article:hover .entrees, article:hover .desserts {
  border-radius: 1rem 0 0 1rem;
}
article:hover .check {
  margin-right: 0;
}
article:hover .fa-check-circle {
  transform: rotate(360deg);
  transition-delay: 2s;
  transition: transform 0.5s ease-in;
}
article .entrees {
  animation: decalage_plats 2s 100ms linear both;
  opacity: 0;
}
article .plats {
  opacity: 0;
  animation: decalage_plats 2s 500ms linear both;
}
article .desserts {
  opacity: 0;
  animation: decalage_plats 2s 1s linear both;
}
article .plats, article .entrees, article .desserts {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 10px;
}
article .plats p, article .entrees p, article .desserts p {
  overflow: hidden;
  text-overflow: ellipsis;
}
article .plats > h5, article .entrees > h5, article .desserts > h5 {
  font-weight: bold;
  font-size: 0.9em;
}
article .plats .plat, article .entrees .plat, article .desserts .plat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
article .plats .plat > p, article .entrees .plat > p, article .desserts .plat > p {
  font-size: 0.8em;
}
article .plats .plat span, article .entrees .plat span, article .desserts .plat span {
  padding: 0 1em 0 1em;
  font-weight: 900;
  font-size: 0.9em;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #99e2d0;
  color: white;
  width: 80px;
  height: 67px;
  border-radius: 0 1rem 1rem 0;
  margin-right: -80px;
  transition: margin 0.5s ease-in-out;
  cursor: pointer;
}
.check .fa-check-circle {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.header__button {
  display: block;
  padding: 17px;
  border-radius: 3rem;
  border: none;
  background: linear-gradient(#ff79d4 0%, #9356dc 100%);
  color: #fff;
  font-size: 1.6vh;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 3px 12px -2px #9356dc;
  width: 200px;
  text-align: center;
  margin: auto;
}
.header__button:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 14px -2px #4f0aa3;
  transform: scale(1.02);
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 8% 8% 12% 8%;
  font-size: 2vmax;
  background-color: #353535;
  color: #fff;
}
@media (min-width: 768px) {
  footer {
    display: inherit;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 4% 0;
  }
}
@media (min-width: 992px) {
  footer {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 1.3vmax;
    padding: 4% 0;
  }
}
footer nav {
  width: 100%;
}
footer ul {
  list-style-type: none;
}
@media (min-width: 768px) {
  footer ul {
    text-align: center;
  }
}
@media (min-width: 992px) {
  footer ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
footer li {
  line-height: 27px;
}
footer img {
  height: 2vmax;
  margin-bottom: 5vmin;
}
@media (min-width: 768px) {
  footer img {
    margin-bottom: 2%;
  }
}
@media (min-width: 992px) {
  footer img {
    margin-bottom: 0;
    margin-left: 5%;
  }
}
footer .fa-utensils {
  margin-right: 10px;
  font-size: 18px;
}
footer .fa-hands-helping {
  margin-right: 10px;
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: #fff;
}

@keyframes stroke-animation {
  0% {
    stroke: #ff79da;
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 400;
    transform: scale(1);
  }
  60% {
    stroke-dashoffset: 750;
    fill: transparent;
    transform: scale(1.1);
  }
  80% {
    stroke-dashoffset: 1000;
    fill: url(#grad1);
    transform: scale(1.3);
  }
  90% {
    stroke-dashoffset: 1250;
    transform: scale(1.1);
  }
  100% {
    stroke: #9356dc;
    stroke-dashoffset: 1550;
    stroke-width: 10;
    fill: url(#grad1);
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes size {
  100% {
    /*display none ne marche pas*/
    width: 0;
    height: 0;
    transform: translateY(-9999px);
  }
}
@keyframes slide_in_top {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes check_translate {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-67px);
  }
}
@keyframes plat_dimension {
  0% {
    width: 437px;
  }
  100% {
    width: 337px;
  }
}
@keyframes check_rotate {
  0% {
    transform: rotateZ(0turn);
  }
  100% {
    transform: rotateZ(2turn);
  }
}
@keyframes decalage_plats {
  10% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.loader__home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #eaeaea;
  animation: size 1ms linear 3s forwards;
}

.loader {
  width: 250px;
  height: 250px;
}
.loader div {
  height: 100%;
}

.loader, .loader div {
  border-radius: 50%;
  padding: 10px;
  border: 6px solid transparent;
  animation: rotate cubic-bezier(0.05, 0.23, 0.47, 0.88) 3s infinite;
  border-top-color: #99e2d0;
  border-right-color: #ff79da;
}

/*# sourceMappingURL=style.css.map */
