@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__title--accueil {
  width: 100%;
  font-family: "Shrikhand", cursive;
  text-align: center;
  color: #000;
  background-color: #fff;
  line-height: 70px;
  animation: slide-in-top 0.8s 2s ease-out both;
}

@keyframes slide-in-top {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.header__button {
  padding: 15px;
  border-radius: 2rem;
  border-color: transparent;
  background: linear-gradient(#ff79d4 0%, #9356dc 100%);
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 3px 12px -2px #9356dc;
  width: 250px;
}
.header__button:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 14px -2px #9356dc;
}

.header-button {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 15vmin;
}
@media (min-width: 992px) {
  header {
    padding-bottom: 5vmin;
  }
}
header .local {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: 0;
  flex-direction: 0;
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
}
header span img {
  width: 2rem;
  height: 2rem;
  margin-right: 4rem;
}
header .local p {
  position: relative;
  line-height: 60px;
}
header h2 {
  font-size: 2.6rem;
  width: 70%;
  text-align: center;
  padding-top: 20px;
}
header h3 {
  width: 88%;
  text-align: center;
  font-weight: normal;
  font-size: 1.7rem;
}

header {
  width: 100%;
}

.headermenu {
  display: flex;
  width: 100%;
  height: 70px;
  position: relative;
  background-color: white;
}
.headermenu::before {
  content: "";
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 25vmax;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
}
.headermenu__title {
  width: 90%;
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  font-family: "Shrikhand", cursive;
}
@media (max-width: 420px) {
  .headermenu__title {
    font-size: 30px;
    line-height: 50px;
  }
}
.headermenu .fa-arrow-left {
  font-size: 30px;
  line-height: 70px;
}
.headermenu a {
  color: black;
}

.header__palette::before {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.header__note::before {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.header__francaise::before {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.header__delice::before {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.restaurant-menu {
  width: 100%;
  height: 5vmax;
  line-height: 5vmax;
  margin-top: 200px;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant-menu {
    width: 80%;
  }
}
.restaurant-menu h1 {
  width: 80%;
  height: 100%;
  font-size: 2.8vmax;
  font-family: "Shrikhand", cursive;
}

.restaurant-menu__heart {
  width: 5vmax;
  height: 5vmax;
  position: relative;
}
.restaurant-menu__heart--border {
  width: 7vmin;
  height: 7vmin;
  position: absolute;
  bottom: 1vmax;
  right: 1vmin;
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant-menu__heart--border {
    width: 4vmin;
    height: 4vmin;
  }
}
@media (min-width: 992px) {
  .restaurant-menu__heart--border {
    width: 2.5vmax;
    height: 2.5vmax;
  }
}
.restaurant-menu__heart--solid {
  width: 7vmin;
  height: 7vmin;
  opacity: 0;
  position: absolute;
  bottom: 1vmax;
  right: 1vmin;
  transform: scale(1);
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant-menu__heart--solid {
    width: 4vmin;
    height: 4vmin;
  }
}
@media (min-width: 992px) {
  .restaurant-menu__heart--solid {
    width: 2.5vmax;
    height: 2.5vmax;
  }
}
.restaurant-menu__heart--solid:hover {
  opacity: 1;
  transition: 600ms 150ms linear;
  transform: scale(1.05);
}
.restaurant-menu__heart--border, .restaurant-menu__heart--solid {
  width: 3vw;
}
@media (max-width: 768px) {
  .restaurant-menu__heart--border, .restaurant-menu__heart--solid {
    width: 2.5vmax;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  z-index: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex: 1;
}
@media (min-width: 992px) {
  main {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

aside {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: 0;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: #fff;
}
@media (min-width: 768px) and (max-width: 992px) {
  aside {
    width: 60%;
    height: auto;
  }
}
@media (min-width: 992px) {
  aside {
    width: 30%;
    height: auto;
  }
}
aside h2 {
  text-align: left;
  font-size: 2.3rem;
  width: 85%;
  margin-top: 30px;
  margin-bottom: 20px;
}
aside .aside__choice::before {
  content: "1";
}
aside .aside__compose::before {
  content: "2";
}
aside .aside__taste::before {
  content: "3";
}
aside a {
  text-decoration: none;
  color: #000;
  width: 87%;
  font-size: 1.6rem;
}

.aside__box {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #eaeaea;
  padding: 2.5rem;
  border-radius: 3rem;
  box-shadow: 0px 9px 12px -2px #eaeaea;
  margin-bottom: 2rem;
  position: relative;
}
@media (min-width: 768px) and (max-width: 992px) {
  .aside__box {
    padding: 3.5rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 992px) {
  .aside__box {
    margin-bottom: 3vmax;
  }
}
.aside__box:hover {
  background-color: #f5edff;
  color: #9356dc;
}
.aside__box::before {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 32%;
  bottom: 26px;
  right: 0;
  left: -10px;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  line-height: 3rem;
}
.aside__box p {
  color: #000;
  font-weight: bold;
}
.aside__box .aside__icons {
  font-size: 20px;
  line-height: 24px;
  margin-right: 20px;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vmax;
  }
}
@media (min-width: 992px) {
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vmax;
    width: 65%;
    height: auto;
  }
}
section a {
  width: 100%;
  height: 55vmin;
  text-decoration: none;
  color: #000;
  display: block;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section a {
    width: 45%;
    height: 50%;
  }
}
@media (min-width: 992px) {
  section a {
    width: 45%;
    height: 20vmax;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  section a img {
    width: 100%;
    height: 100%;
  }
}
section > h3 {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 992px) {
  section > h3 {
    width: 92%;
  }
}
@media (min-width: 992px) {
  section > h3 {
    text-align: center;
    margin-bottom: 0;
  }
}

.restaurant-card {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: -1px 2px 12px 8px #e5e5e5e5;
  position: relative;
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant-card {
    width: 100%;
    height: 35vmin;
  }
}
.restaurant-card:hover {
  box-shadow: -1px 2px 8px 4px #9356dc;
  transform: scale(1.01);
}

.restaurant-card__text {
  width: 100%;
  height: 30%;
  background: white;
  position: relative;
  bottom: 31%;
  border-radius: 0 0 1rem 1rem;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant-card__text {
    width: 100%;
    height: 12%;
    bottom: 6.5vmax;
  }
}
@media (min-width: 992px) {
  .restaurant-card__text {
    width: 100%;
    height: 4.5vmax;
    bottom: 4.5vmax;
  }
}
.restaurant-card__text h3, .restaurant-card__text p {
  font-size: 3.5vmin;
  padding-left: 2vmin;
  line-height: 6vmin;
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant-card__text h3, .restaurant-card__text p {
    font-size: 2vmin;
    line-height: 2.5vmin;
  }
}
@media (min-width: 992px) {
  .restaurant-card__text h3, .restaurant-card__text p {
    width: 100%;
    height: 70%;
    font-size: 1.5vmax;
    line-height: 70%;
    padding-left: 2vmin;
  }
}
.restaurant-card__text .restaurant-card__heart {
  position: relative;
  margin-right: 4vmin;
  bottom: 0.2vmax;
}
.restaurant-card__text .restaurant-card__heart--border {
  width: 7vmin;
  height: 7vmin;
  position: absolute;
  bottom: 1vmax;
  right: 1vmin;
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant-card__text .restaurant-card__heart--border {
    width: 4vmin;
    height: 4vmin;
  }
}
@media (min-width: 992px) {
  .restaurant-card__text .restaurant-card__heart--border {
    width: 2.5vmax;
    height: 2.5vmax;
  }
}
.restaurant-card__text .restaurant-card__heart--solid {
  width: 7vmin;
  height: 7vmin;
  opacity: 0;
  position: absolute;
  bottom: 1vmax;
  right: 1vmin;
  transform: scale(1);
}
@media (min-width: 768px) and (max-width: 992px) {
  .restaurant-card__text .restaurant-card__heart--solid {
    width: 4vmin;
    height: 4vmin;
  }
}
@media (min-width: 992px) {
  .restaurant-card__text .restaurant-card__heart--solid {
    width: 2.5vmax;
    height: 2.5vmax;
  }
}
.restaurant-card__text .restaurant-card__heart--solid:hover {
  opacity: 1;
  transition: 600ms 150ms linear;
  transform: scale(1.05);
}

section a.palette, section a.note {
  position: relative;
}
section a.palette::after, section a.note::after {
  content: "Nouveau";
  font-size: 4vmin;
  width: 25%;
  height: 12%;
  background-color: #99e2d0;
  position: absolute;
  line-height: 6vmin;
  text-align: center;
  color: #008766;
  bottom: 82%;
  z-index: 2;
  right: 4%;
}
@media (min-width: 768px) and (max-width: 992px) {
  section a.palette::after, section a.note::after {
    font-size: 2vmin;
    line-height: 4vmin;
  }
}
@media (min-width: 992px) {
  section a.palette::after, section a.note::after {
    font-size: 1.3vmax;
    line-height: 2.5vmax;
  }
}

.note {
  object-fit: cover;
  object-position: 0 -143px;
}

.principal {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1366px) {
  .principal {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: 0;
    margin-left: 0;
  }
}
.principal > p {
  position: relative;
  width: 82%;
  margin: auto;
}
@media (max-width: 768px) {
  .principal > p {
    margin-left: 30px;
  }
}
.principal > p::before {
  content: "";
  display: block;
  width: 40px;
  height: 50px;
  background-color: transparent;
  border-bottom: 4px solid #99e2d0;
  position: absolute;
  bottom: -8px;
}
.principal .entrees, .principal .plats, .principal .desserts {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 25px;
  margin-top: 20px;
  flex-wrap: nowrap;
}
.principal .entrees {
  animation: decalage_plats 2s 100ms linear both;
  opacity: 0;
}
.principal .plats {
  opacity: 0;
  animation: decalage_plats 2s 500ms linear both;
}
.principal .desserts {
  opacity: 0;
  animation: decalage_plats 2s 1s linear both;
}
.principal .plat {
  width: 92%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: 0;
  flex-wrap: 0;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  line-height: 25px;
  box-shadow: -1px 2px 12px 8px rgba(229, 229, 229, 0.75);
  margin-bottom: 15px;
}
.principal .plat > p {
  margin-left: 20px;
  margin-top: 5px;
  font-weight: bold;
}
.principal .plat .plat__ingredient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.principal .plat .plat__ingredient p {
  font-size: 14px;
  background-color: white;
  margin-left: 20px;
}
.principal .plat .plat__ingredient span {
  width: 40px;
  height: 31px;
  background-color: white;
  display: block;
  position: relative;
  right: 15px;
  padding-right: 0px;
  text-align: center;
  font-weight: bold;
}
.principal .plat .plat__ingredient span::before {
  content: "...";
  display: block;
  position: absolute;
  right: 40px;
  width: 52px;
  height: 30px;
  padding-left: 5px;
  text-align: left;
  opacity: 0;
  background-color: white;
}
.principal .plat .plat__ingredient:hover span {
  animation: check_translate 0.3s linear both;
}
.principal .plat .plat__ingredient:hover span::before {
  opacity: 1;
}
.principal .plat .plat__ingredient:hover .suspension__none::before {
  opacity: 0;
}
.principal .plat .check {
  width: 58px;
  height: 67px;
  background-color: #99e2d0;
  line-height: 67px;
  text-align: center;
  border-radius: 0 1rem 1rem 0;
  opacity: 1;
  position: relative;
  left: 350px;
  bottom: 62px;
}
.principal .plat .check .fas {
  color: #99e2d0;
  background-color: white;
  font-size: 15px;
  width: 25px;
  height: 25px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
  animation-name: ckeck_rotate;
  animation-duration: 1s;
}
.principal .plat:hover .check {
  animation: check_translate 0.3s linear both;
  opacity: 1;
}
.principal .plat:hover .check div .fas {
  animation: check_rotate 0.3s linear both;
}
.principal .lanote__entree {
  height: 60px;
}
@media (max-width: 768px) {
  .principal .lanote__entree {
    height: 60px;
  }
}
.principal .lanote {
  height: auto;
}
@media (max-width: 768px) {
  .principal .lanote {
    height: auto;
  }
}
.principal .header__button--menu {
  padding: 15px;
  border-radius: 2rem;
  border-color: transparent;
  background: linear-gradient(#ff79d4 0%, #9356dc 100%);
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 3px 12px -2px #9356dc;
  width: 200px;
  margin-top: 100px;
  text-align: center;
  margin: auto;
}
.principal .header__button--menu:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 14px -2px #9356dc;
}

footer {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  height: auto;
  font-size: 2vmax;
  padding: 2rem;
  line-height: 4min;
  background-color: #353535;
  color: #fff;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 992px) {
  footer {
    display: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  footer {
    display: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 4rem;
  width: 20%;
  text-align: left;
}
footer a {
  text-decoration: none;
}
footer .footer__ustensile {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  justify-content: flex-start;
  height: 3vmax;
  line-height: 3vmax;
}
@media (min-width: 768px) and (max-width: 992px) {
  footer .footer__ustensile {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  footer .footer__ustensile {
    justify-content: flex-start;
    width: 23%;
    height: 4vmin;
  }
}
footer .footer__ustensile p {
  margin-left: 2rem;
  color: #fff;
  line-height: 4vmin;
}
footer .footer__ustensile i {
  line-height: 4vmin;
}
footer .footer__partenaire {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  justify-content: flex-start;
  height: 3vmax;
  line-height: 3vmax;
}
@media (min-width: 768px) and (max-width: 992px) {
  footer .footer__partenaire {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  footer .footer__partenaire {
    justify-content: flex-start;
    width: 20%;
    height: 4vmin;
  }
}
footer .footer__partenaire p {
  margin-left: 2rem;
  color: #fff;
  line-height: 4vmin;
}
footer .footer__partenaire i {
  line-height: 4vmin;
  font-size: 3vmin;
}
footer .footer__mention {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  justify-content: flex-start;
  height: 3vmax;
  line-height: 3vmax;
  color: white;
}
@media (min-width: 768px) and (max-width: 992px) {
  footer .footer__mention {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  footer .footer__mention {
    justify-content: flex-start;
    line-height: 4vmin;
    width: 16%;
    height: 4vmin;
  }
}
footer .footer__mail {
  color: #fff;
  height: 3vmax;
  line-height: 3vmax;
}
@media (min-width: 992px) {
  footer .footer__mail {
    text-align: left;
    line-height: 4vmin;
    width: 20%;
    height: 4vmin;
  }
}

@keyframes check_translate {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-58px);
  }
}
@keyframes check_rotate {
  0% {
    transform: rotateZ(0turn);
  }
  100% {
    transform: rotateZ(2turn);
  }
}
@keyframes decalage_plats {
  10% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
