@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__title--accueil {
  width: 100%;
  font-family: "Shrikhand", cursive;
  text-align: center;
  color: #000;
  background-color: #fff;
  line-height: 70px;
  animation: slide-in-top 0.8s 2s ease-out both;
}

@keyframes slide-in-top {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.header__button {
  padding: 15px;
  border-radius: 2rem;
  border-color: transparent;
  background: linear-gradient(#ff79d4 0%, #9356dc 100%);
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 3px 12px -2px #9356dc;
  width: 250px;
}
.header__button:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 14px -2px #9356dc;
}

.header-button {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 15vmin;
}
header .local {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: 0;
  flex-direction: 0;
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
}
header span img {
  width: 2rem;
  height: 2rem;
  margin-right: 4rem;
}
header .local p {
  position: relative;
  line-height: 60px;
}
header h2 {
  font-size: 2.6rem;
  width: 70%;
  text-align: center;
  padding-top: 20px;
}
header h3 {
  width: 88%;
  text-align: center;
  font-weight: normal;
  font-size: 1.7rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  z-index: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex: 1;
}

aside {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: 0;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: #fff;
}
aside h2 {
  text-align: left;
  font-size: 2.3rem;
  width: 85%;
  margin-top: 30px;
  margin-bottom: 20px;
}
aside .aside__choice::before {
  content: "1";
}
aside .aside__compose::before {
  content: "2";
}
aside .aside__taste::before {
  content: "3";
}
aside a {
  text-decoration: none;
  color: black;
  width: 87%;
  font-size: 1.6rem;
}

.aside__box {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #eaeaea;
  padding: 2.5rem;
  border-radius: 3rem;
  box-shadow: 0px 9px 12px -2px #eaeaea;
  margin-bottom: 2rem;
  position: relative;
}
.aside__box:hover {
  background-color: #f5edff;
  color: #9356dc;
}
.aside__box::before {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 32%;
  bottom: 26px;
  right: 0;
  left: -10px;
  background-color: #9356dc;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  line-height: 3rem;
}
.aside__box p {
  color: #000;
  font-weight: bold;
}
.aside__box .aside__icons {
  font-size: 20px;
  line-height: 24px;
  margin-right: 20px;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
}
section a {
  width: 100%;
  height: 55vmin;
  text-decoration: none;
  color: #000;
  display: block;
  flex-direction: column;
  margin-bottom: 20px;
}
section > h3 {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.restaurant-card {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: -1px 2px 12px 8px #e5e5e5bf;
  position: relative;
}
.restaurant-card:hover {
  box-shadow: -1px 2px 8px 4px #9356dc;
  transform: scale(1.01);
}

.restaurant-card__text {
  width: 100%;
  height: 30%;
  background: white;
  position: relative;
  bottom: 31%;
  border-radius: 0 0 1rem 1rem;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
}
.restaurant-card__text h3, .restaurant-card__text p {
  font-size: 3.5vmin;
  padding-left: 2vmin;
  line-height: 2rem;
}
.restaurant-card__text .restaurant-card__heart {
  position: relative;
  margin-right: 30px;
}
.restaurant-card__text .restaurant-card__heart--border {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: 1vmax;
  right: 1vmin;
}
.restaurant-card__text .restaurant-card__heart--solid {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
  position: absolute;
  bottom: 1vmax;
  right: 1vmin;
  transform: scale(1);
}
.restaurant-card__text .restaurant-card__heart--solid:hover {
  opacity: 1;
  transition: 600ms 150ms linear;
  transform: scale(1.05);
}

section a.palette, section a.note {
  position: relative;
}
section a.palette::after, section a.note::after {
  content: "Nouveau";
  font-size: 1.5vmax;
  width: 25%;
  height: 12%;
  background-color: #99e2d0;
  position: absolute;
  line-height: 2.5vmax;
  text-align: center;
  color: #008766;
  bottom: 82%;
  z-index: 2;
  right: 4%;
}

.note {
  object-fit: cover;
  object-position: 0 -143px;
}

footer {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  height: auto;
  padding: 2rem;
  line-height: 3rem;
  background-color: #353535;
  color: #fff;
  width: 100%;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 4rem;
}
footer .footer__ustensile {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  justify-content: flex-start;
}
footer .footer__ustensile p {
  margin-left: 2rem;
}
footer .footer__ustensile i {
  line-height: 3rem;
}
footer .footer__partenaire {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  justify-content: flex-start;
}
footer .footer__partenaire p {
  margin-left: 2rem;
}
footer .footer__partenaire i {
  line-height: 3rem;
  font-size: 1.4rem;
}
footer p, footer .mail {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
