@keyframes check_translate{
    0%{
      transform: translateX(0px); 
    }
    100%{
    transform: translateX(-67px);
    }
  }

  @keyframes plat_dimension{
    0%{
      width: 437px; 
    }
    100%{
    width: 337px;
    }
  }  
  
  @keyframes check_rotate{
    0%{  
        transform: rotateZ(0turn); 
      }
      100%{  
        transform: rotateZ(2turn);
      }
  }

  @keyframes decalage_plats{
    10%{
      opacity: 0;
      transform: translateY(20px);
    }
    50%{
      opacity: 1;
      
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
    }
