@use "../abstracts";

@keyframes stroke-animation {
  0% {
    stroke: abstracts.$color-primary; //animation du contour en rose
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 400;
    transform: scale(1);
  }
  60% {
    stroke-dashoffset: 750;
    fill: transparent; // aide à faire une transition plus douce vers le linear gradient
    transform: scale(1.1);
  }
  80% {
    stroke-dashoffset: 1000;
    fill: url(#grad1);//appel du linear gradient du html par son ID
    transform: scale(1.3);
  }
  90% {
    stroke-dashoffset: 1250;
    fill: url(#grad1);
    transform: scale(1.1);
  }
  100% {
    stroke: abstracts.$color-primary; 
    stroke-dashoffset: 1550;
    stroke-width: 1; //stroke très léger pour éviter de voir la bordure noire du début de l'animation
    fill: url(#grad1);
    transform: scale(1);
  }
}


@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }
@keyframes size {
  100%{
    /*display none ne marche pas*/
    @include abstracts.widthHeight(0, 0);  
    transform: translateY(-9999px);
  }
}  

@keyframes slide_in_top {
  0% {
    
  transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    
  transform: translateY(0);
  opacity: 1;
  }
}

@keyframes check_translate{
    0%{
      transform: translateX(0px); 
    }
    100%{
    transform: translateX(-67px);
    }
  }

  @keyframes plat_dimension{
    0%{
      width: 437px; 
    }
    100%{
    width: 337px;
    }
  }  
  
@keyframes check_rotate{
  0%{  
      transform: rotateZ(0turn); 
    }
    100%{  
      transform: rotateZ(2turn);
    }
}

@keyframes decalage_plats{
  10%{
    opacity: 0;
    transform: translateY(20px);
  }
  50%{
    opacity: 1;
    
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
